<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Website</title>
    {% include 'links.html.twig' %}
</head>
<body>
    {% include 'navbar.html.twig' %}
    <main class="container mt-4">
        <h1 class="display-4">Hi there!</h1>
        <p class="lead">Welcome to my website. I am excited to have you here. Feel free to explore and learn more!</p>
        <hr class="my-4">
        <p>If you have any questions, don't hesitate to reach out via the <a href="{{ path('app_contact') }}">Contact</a> page.</p>
        <hr class="my-4">
        <p>You can check the authors via the <a href="{{ path('app_author_list') }}">Authors</a> page.</p>
        <hr class="my-4">
        <p>Feel free to try some basic functionalities via the <a href="{{ path('app_crud_author') }}">CRUD</a> page.</p>
        <hr class="my-4">
        <p>You may try some new stuff via the <a href="{{ path('app_author_show') }}">Test</a> page.</p>

        <div class="shapes-container">
            <div class="extra-shape"></div>
            <div class="extra-shape"></div>
            <div class="extra-shape"></div>
            <div class="extra-shape"></div>
        </div>
    </main>
    {% include 'footer.html.twig' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
